.upper{
    display: grid;
    justify-content: space-around;
    
    grid-template-columns: 2;
    grid-template-rows: 2; 
}
.golovna{
    display: grid;
    grid-column: 2;
}
.feadback{
    display: grid;
}
.nagradu{
    display: grid;
    grid-column: 2;
}